.global__stlyle, .popup__container{
  padding: 39px 47px;
  margin: 50px auto;
  width: 45%;
  background: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px 0.242111px 9.68445px rgba(227, 222, 255, 0.2);
  backdrop-filter: blur(24.2111px);
  border-radius: 23px;
  border: 2px solid #e49bc9;
  box-shadow: 0px -10px 100px rgba(213, 126, 235, 0.151);
  font-family: Sora;
}


.global__cardTop{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 37px;
}

.global__cardTop > h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.75px;
}

.global__cardTop > .icon__Top > img{
  margin-left: 18px;
  width: 24px;
  height: 24px;
}

.global__title > h4{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
  color: #FFFFFF;
}

.global__assets{
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.04);
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.global__assets > .img{
  display: flex;
  align-items: center;
}

.global__assets > .img > h3{
  margin-left: 8px;
  font-size: 18px;
}

.global__styleBtn{
  width: 100%;
  background: linear-gradient(297.24deg, #FBAB7E 8.25%, #F7CE68 91.76%);
  border: none;
  border-radius: 5px;
  padding: 12px 0px;
  font-size: 16px;
  line-height: 28px;
  color: #151515;
  font-weight: bold;
  margin-top: 37px;
  transition: 0.5s;
}

.global__styleBtn:hover{
  background: linear-gradient(297.24deg, #fbac7ede 8.25%, #f7cf68dc 91.76%);
}

/* global Popup styles */

.popup__container{
  padding: 39px 56px;
  position: relative;
  z-index: 500;
}

.popup__container > .img__icon{
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.popup__container > .btn__container{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}


.popup__container > p{
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.popup__container > .popup__title{
  font-weight: 800;
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 12px;
}


@media (max-width: 890px) {
  .global__stlyle, .popup__container{
    width: 50%;
    padding: 39px 27px;
  }

  .popup__container{
    padding: 39px 47px;
  }

  .global__cardTop > .icon__Top > img{
    margin-left: 8px;
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 740px) {
  .global__stlyle{
    width: 50%;
  }

  .popup__container{
    padding: 39px 37px;
  }
}

@media (max-width: 690px) {
  .global__stlyle{
    width: 70%;
  }

  .popup__container{
    width: 70%;
    padding: 39px 67px;
  }
}

@media (max-width: 590px) {
  .global__stlyle{
    width: 70%;
  }

  .popup__container{
    width: 70%;
    padding: 39px 27px;
  }
}

@media (max-width: 490px) {
  .global__stlyle{
    width: 90%;
  }

  .popup__container{
    width: 90%;
    padding: 39px 27px;
  }
}